@model IEnumerable<FoodExNepal.Models.FoodCategory>

@{
    ViewBag.Title = "FoodCategory";
    Layout = "~/Views/Shared/_TwoColumnLayout.cshtml";
}
@using FoodExNepal.Models;
@{
    FoodExEntities db = new FoodExEntities();
    int restid=ViewBag.Restaurantid;
    var restaurant = db.Restaurants.SingleOrDefault(a => a.RestaurantId == restid);
    }

<div class="templatemo-service">
    <div class="container">
       
                <div class="r2_restcontent">
                     <div  class="col-md-3" style="padding:5px 0 5px 5px">                     
                        <img src="~/images/restaurant/@restaurant.RestaurantLogo" />
                     </div>
                     <div  class="col-md-6">   
                        <div class="rest_Name_fd">@restaurant.RestaurantName</div>
                        <div class="rest_Address"><i>@restaurant.Address</i></div>
                        <div class="rest_order_detail">@restaurant.CusineInfo, @restaurant.RestaurantType, @restaurant.Speciality</div>
                     </div>
                        <div class="col-md-3" style="padding-top:5px;">
                           <div id="SC"> @if (restaurant.IsServiceChargeApplicable == true)
                                  { <div class="true">Service Charge</div> }
                            else
                            {
                                { <div class="false">Service Charge</div> }
                            } @if (restaurant.IsVatApplicable == true)
                              {
                                  <div class="true">VAT</div> 
                                   }
                                else
                                   {
                                       <div class="false">VAT</div> 
                                   }</div>
                        </div>                      
                </div>
     
        <br />
        <h3>Food Category</h3>
    </div>
</div>
     
    

@section scripts{



<script type="text/javascript">  
    $(document).ready(function () {
        $("#ddlCategory").change(function () {
            var categoryId =  $("#ddlCategory").val();
               $("#dvCategoryResults").load('@(Url.Action("GetCategoryProducts","Home",null, Request.Url.Scheme))?categoryId=' + categoryId);
        });     
    });
</script> 
   
}

    @ViewData["message"]
 
  
   @foreach (var item in Model)
{
    <h3 class="foodtitle">@item.FoodCategoryName</h3>
       <div>
        @{
    Html.RenderAction("LoadFoodItem", "RestaurantList", new { id = item.FoodCategoryId, Restaurantid = ViewBag.Restaurantid });
        }
    </div>
   }

  
  
 

