@model FoodExNepal.Models.FoodCategory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<h2>Add Food Category</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <p></p>
    <div id="add">
        <div style="clear:both"></div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FoodCategoryName,"Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FoodCategoryName)
            @Html.ValidationMessageFor(model => model.FoodCategoryName)
        </div>
        <div style="clear:both"></div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FoodCategoryDescription,"Description")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.FoodCategoryDescription,new {@cols = 45, @rows = 6 })
            @Html.ValidationMessageFor(model => model.FoodCategoryDescription)
        </div>
        <div style="clear:both"></div>
        <div style="clear:both"></div>
        <div class="editor-label"></div>
        <div class="editor-field">
            <input type="submit" value="Save" />
        </div>
        <div style="clear:both"></div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ListCategory")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
