@*@model IEnumerable<FoodExNepal.Models.FoodCategory>*@
@model PagedList.IPagedList<FoodExNepal.Models.FoodCategory>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<h2>Food Category</h2>

<p class="create">
    @Html.ActionLink("Add New", "CreateCategory")
</p>
<div id="list">
<table>
    <tr>
        <th style="width:150px;">
          Name
        </th>
        <th style="width:150px;">
           Description
        </th>
        <th style="width:90px;">Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodCategoryName)
        </td>
        <td>
            @Html.Raw(item.FoodCategoryDescription)
        </td>
        <td>
             @Html.ActionLink(" ", "EditCategory", new { id=item.FoodCategoryId }, new {@class = "icon-edit icon_font" }) |
            @Html.ActionLink(" ", "DetailsCategory", new { id=item.FoodCategoryId }, new {@class = "icon-detail icon_font" }) |
            @Html.ActionLink(" ", "DeleteCategory", new { id=item.FoodCategoryId }, new {@class = "icon-delete icon_font" })
        </td>
    </tr>
}

</table>
     Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page}))
</div>
